.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(45deg, rgba(53, 53, 53, 1) 0%, rgba(136, 73, 32, 1) 31%, rgba(200, 89, 15, 1) 54%, rgba(255, 102, 0, 1) 84%);
}

.Login img {
  max-width: 250px;
  margin-bottom: 10px;
}

.Login .Login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  max-width: 400px;
  max-height: 400px;
  width: 50%;
  height: 50%;
  padding: 50px;
  border-radius: 50px;
  gap: 25px;
}

.Login .Login-form .css-1nrlq1o-MuiFormControl-root {
  width: 100%;
}

.Login .Login-form .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 18px;
}

.Login .Login-form .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #ff6600;
}

.Login .Login-form .css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #ff6600;
}

@media (max-width: 500px) {
  .Login .Login-form {
    width: 80%;
    padding: 20px;
  }

  .Login .Login-form img {
    max-width: 175px;
  }
}

@media (max-width: 325px) {
  .Login .Login-form .bt-completo {
    margin: 10px auto;
    width: 175px;
  }

  .Login .Login-form .bt-incompleto {
    margin: 10px auto;
    width: 175px;
  }
}