.popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup .popup-inner {
  position: relative;
  padding: 20px 30px;
  max-width: 500px;
  width: 100%;
  min-width: 320px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
.popup .popup-inner h2 {
  color: #ff6600;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}
.popup .popup-inner p {
  font-size: 20px;
  margin-bottom: 15px;
}
.popup .popup-inner form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.popup .popup-inner form div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.popup .popup-inner form label {
  width: 150px;
  text-align: end;
  font-size: 18px;
}
.popup .popup-inner form .css-1tcs2i1-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #ff6600;
}

@media (max-width: 600px) {
  .popup .popup-inner {
    max-width: 350px;
  }
}
@media (max-width: 450px) {
  .popup .popup-inner {
    max-width: 300px;
  }
  .popup .popup-inner p {
    text-align: center;
  }
  .popup .popup-inner .bt,
  .popup .popup-inner form .bt-completo,
  .popup .popup-inner form .bt-incompleto {
    margin: 5px auto;
  }
}
@media (max-width: 400px) {
  .popup .popup-inner {
    min-width: 200px;
    max-width: 80%;
  }
  .popup .popup-inner p {
    text-align: center;
  }
  .popup .popup-inner .bt,
  .popup .popup-inner form .bt-completo,
  .popup .popup-inner form .bt-incompleto {
    width: 150px;
  }
}
@media (max-width: 350px) {
  .popup .popup-inner {
    min-width: 200px;
    max-width: 80%;
  }
  .popup .popup-inner form div {
    gap: 3px
  }
  .popup .popup-inner .bt,
  .popup .popup-inner form .bt-completo,
  .popup .popup-inner form .bt-incompleto {
    width: 150px;
  }
}
