.header-interno {
  width: 100%;
  min-width: 37.5rem;
  background-image: linear-gradient(to right, #ec7000, #fff 25%, #ec7000 45%);
  
}
.header-interno .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.header-interno .container div {
  max-width: 20rem;
}
.header-interno .container div img {
  width: 100%
}
.header-interno .container .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  color: #fff;
  font-size: 1.8rem;
  
}
.header-interno .container .nav button {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  border-bottom: 0.1rem solid transparent;
  padding: 0 0.4rem 0.2rem;
  transition: all 0.3s;
}
.header-interno .container .nav button:hover {
  border-bottom: 0.1rem solid #fff;
}
.header-interno .container .nav .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.header-interno .container .exit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.header-interno .container .exit div span {
    display: inline-block;
    max-width: 300px;
}
.bt-mobile {
  display: none;
}
.menu-mobile {
  display: none;
}