.header-interno {
  width: 100%;
  min-width: 375px;
  background: linear-gradient(180deg, rgba(200,89,15,1) 0%, rgba(161,79,24,1) 51%, rgba(255,102,0,1) 96%);
}
.header-interno .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.header-interno .container div {
  max-width: 200px;
}
.header-interno .container div img {
  width: 100%
}
.header-interno .container .saida {
  width: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header-interno .container .saida img {
  width: 40px;
}
.header-interno .container .saida div {
  width: 100%;
  color: #fff;
}
.header-interno .container .saida button {
  width: fit-content;
  cursor: pointer;
  border-radius: 15px;
  padding: 5px;
  font-size: 16px;
  border: 5px solid transparent;
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
}
.header-interno .container .saida button:hover {
  background-color: #ff6600;
}
.header-interno .container .saida div span {
    display: inline-block;
    max-width: 300px;
}
.bt-mobile {
  display: none;
}
.menu-mobile {
  display: none;
}