.grupo .acordeao {
  border: 1px solid lightgray;
  margin: 10px 0;
}
.grupo p {
  font-size: 20px;
}
.grupo .dados h4 {
  font-size: 20px;
}
.grupo .dados hr {
  width: 100%;
  margin: 5px 0;
}
.grupo .dados div {
  display: flex;
  justify-content: space-between;
}
.grupo strong {
  color: #ff6600;
  text-transform: capitalize;
}
.grupo .botoes {
  display: flex;
  padding: 5px;
}

@media (max-width: 700px) {
  .grupo .botoes {
    gap: 5px;
  }
}

@media (max-width: 450px) {
  .grupo p {
    font-size: 16px;
  }
  .grupo .dados h4 {
    text-align: center;
    font-size: 14px;
  }
  .grupo .dados div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .grupo .botoes {
    flex-direction: column;
  }
  .grupo .botoes .bt-completo {
    margin: 2px auto;
    width: 175px;
    font-size: 14px;
  }
  .grupo .botoes .bt {
    margin: 2px auto;
    width: 175px;
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .grupo p {
    font-size: 14px;
  }
  .grupo .dados h4 {
    font-size: 16px;
  }
}
@media (max-width: 300px) {
  .grupo p {
    font-size: 12px;
  }
  .grupo .dados h4 {
    font-size: 14px;
  }
}