.grupo .acordeao {
  border: 1px solid lightgray;
  margin: 10px 0;
}
.grupo p {
  font-size: 20px;
}
.grupo .dados h4 {
  font-size: 20px;
}
.grupo .dados hr {
  width: 100%;
  margin: 5px 0;
}
.grupo .dados div {
  display: flex;
  justify-content: space-between;
}
.grupo strong {
  color: #ff6600;
  text-transform: capitalize;
}
.grupo .botoes {
  display: flex;
  padding: 5px;
}
.grupo .botoes .bt-editar {
  margin: 15px auto;
  display: block;
  width: 250px;
  cursor: pointer;
  border-radius: 60px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  border: 10px solid transparent;
  background-color: #ff6600;
  color: #fff;
  transition: 0.5s;
}
.grupo .botoes .bt-editar:hover {
  background-color: #fff;
  color: #ff6600;
  border: 3px solid #ff6600;
  transition: 0.5s;
}

@media (max-width: 450px) {
  .grupo p {
    font-size: 16px;
  }
  .grupo .dados h4 {
    font-size: 14px;
  }
  .grupo .botoes .bt-editar {
    width: 175px;
    font-size: 14px;
  }
  .grupo .botoes .bt {
    width: 175px;
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  .grupo p {
    font-size: 14px;
  }
  .grupo .dados h4 {
    font-size: 12px;
  }
}