.conteudo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.conteudo .pessoas {
  width: 75%;
}
.conteudo .pessoas .pessoas-introducao {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.conteudo .pessoas .pessoas-introducao h1 {
  text-align: center;
  font-size: 38px;
}
.conteudo .pessoas .pessoas-introducao p {
  text-align: center;
  font-size: 18px;
}
.conteudo .pessoas .pessoas-introducao p strong{
  color: #ff6600;
}
.conteudo .pessoas .pessoas-introducao hr{
  width: 100%;
  margin-bottom: 30px;
}
.conteudo .pessoas .pessoas-conteudo h2{
  font-size: 26px;
  margin-bottom: 30px;
}

@media (max-width: 350px) {
  .conteudo .pessoas .bt-completo {
    width: 175px
  }
}
